
.header_text_style{
    font-weight: bold;
    color: #fdfdfc;

}

.icon,
.category_statistic, .active, .archived{
    box-sizing: border-box;
    font-size: 1.125em;
    padding-right: 1%;
}

.active, .archived{
    color: #7f8186;
}

.icon{
    display: flex;
    justify-content: center;
    color: #ffffff;
    width: 7.5%;
}

.category_statistic{
    width: 40%;
}
.active{
    width: 19%;
}
.archived{
    width: 33.5%;
}
