#root {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 2.5em;
    background-color: #999999;
    margin-top: 3.125em;
    width: 62.5em;

}

.fa-pen, .fa-box-archive, .fa-trash {
    cursor: pointer;
}


.header_text_style {
    font-weight: bold;
    color: #fdfdfc;

}



.icon, .name, .created, .category, .content, .dates, .tools {
    box-sizing: border-box;
    font-size: 1.125em;
    padding-right: 1%;
}

.created, .category, .content, .dates, .tools {
    color: #7f8186;
}


.icon {
    display: flex;
    justify-content: center;
    color: #ffffff;
    width: 7.5%;
}


.name {
    color: #39393b;
    width: 19%;
}

.created {
    width: 15%;
}

.category {
    width: 16%;
}

.content {
    width: 14%;
}

.dates {
    width: 18%;
}

.tools {
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    width: 10.5%;
}

.tools i {
    margin-right: 14.5%;
}
.iArchive{
    color: #a55454;
}
.iNotArchive{
    color: #fdfdfc;
}


